注文履歴一覧
<table class='table table-bordered'>
  <th>
    <td>注文日</td>
    <td>配送先</td>
    <td>注文商品</td>
    <td>支払金額</td>
    <td>ステータス</td>
    <td>注文詳細</td>
  </th>
  <% @orders.each do |order| %>
  
    <tr>
      <td>
        <!--order.cleated_at.strftime('%Y/%m/%d')-->
        投稿日時
        <%= order.address %>
      </td>
    </tr>  
  <% end %>
</table>