<div class="container">
  <div class="row">
   <div class="col-lg-2">
      <table>
        <tr>ジャンル検索</tr>
      </table>
   </div>

   <div class="col-lg-10">
    <h3>商品一覧</h3>
    <table>
     <tr>
       <% @items.each do |item| %>
       <td>
          <%= attachment_image_tag item, :image, size: "150x100", format:"jpeg" %>
          <%= item.name %>
          ￥<%= item.price.to_s(:delimited) %>
       </td>
       <% end %>   
     </tr>
    </table>
   </div>
  </div>
</div>